<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FakeWeChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>095C06DE1C2D08D7004D00C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>095C06F21C2D08D7004D00C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>095C06FD1C2D08D7004D00C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
